dotNet module/dotnet projects/StudentWebService/StudentServiceClient/Web References/localhost/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudents">
        <s:complexType />
      </s:element>
      <s:element name="GetStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateChangesToDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateChangesToDbResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="GetStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateChangesToDbSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateChangesToDb" />
  </wsdl:message>
  <wsdl:message name="UpdateChangesToDbSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateChangesToDbResponse" />
  </wsdl:message>
  <wsdl:portType name="StudentServiceSoap">
    <wsdl:operation name="GetStudents">
      <wsdl:input message="tns:GetStudentsSoapIn" />
      <wsdl:output message="tns:GetStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChangesToDb">
      <wsdl:input message="tns:UpdateChangesToDbSoapIn" />
      <wsdl:output message="tns:UpdateChangesToDbSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentServiceSoap" type="tns:StudentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChangesToDb">
      <soap:operation soapAction="http://tempuri.org/UpdateChangesToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentServiceSoap12" type="tns:StudentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap12:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChangesToDb">
      <soap12:operation soapAction="http://tempuri.org/UpdateChangesToDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="StudentServiceSoap" binding="tns:StudentServiceSoap">
      <soap:address location="http://localhost:55218/StudentService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentServiceSoap12" binding="tns:StudentServiceSoap12">
      <soap12:address location="http://localhost:55218/StudentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>